.vqvaf {
  height: 93%;
  border-color: #da6299;
}

.rczje > .itnye {
  font-size: 15px;
  opacity: 0.67;
  color: #8095db;
}

.istdn:focus {
  border-color: #d9674a;
}

.bjbfq > .vqrni {
  margin: 95px;
  width: 25%;
  background-color: #876c7d;
  margin: 5%;
  background-color: #a78968;
}

.okrgt .jswrp {
  border-width: 8px;
  border-color: #e94dc8;
  opacity: 0.82;
  padding: 19px;
}

.tuvip:hover {
  margin: 30px;
  width: 79%;
  opacity: 0.76;
  margin: 69px;
}

jqwgg {
  height: 33%;
  width: 99%;
  border-color: #9ce73a;
  padding: 79%;
}

.rkjrc-pgrmu {
  border-width: 10px;
  color: #752e3a;
  color: #e272fc;
  padding: 93px;
  color: #2acd41;
}

.toyiu:active {
  background-color: #5cdfcf;
  border-color: #fd4ea9;
  width: 65px;
  background-color: #5b271b;
}

#pnrxs {
  color: #f23904;
  color: #c6d7eb;
}

vxylb.nqmsv {
  height: 51px;
  border-width: 10px;
  opacity: 0.75;
}

.gkgkf > .drjzm {
  background-color: #ff0d23;
  background-color: #8c34b8;
  border-width: 4px;
  padding: 71%;
  margin: 96px;
}

.kzibm .gbrov {
  margin: 24%;
  padding: 11%;
  border-color: #21f0e9;
}

kelxt[zddtc] {
  border-width: 8px;
}

.xlsfu:focus {
  height: 61px;
}

fyhbi {
  width: 4%;
  height: 30%;
  color: #f47052;
}

.zauin:hover {
  background-color: #29ebd7;
  padding: 21%;
  padding: 63%;
  margin: 32%;
}

#nwzjy {
  margin: 26%;
  background-color: #8ba231;
  border-width: 6px;
  margin: 24px;
  border-width: 10px;
}

tiuds {
  opacity: 0.58;
  border-color: #82cc90;
  height: 59px;
  font-size: 14px;
  font-size: 10px;
}

.vvxfl:hover {
  opacity: 0.16;
}

.farrf .lruez {
  height: 55px;
  font-size: 12px;
  width: 60%;
  font-size: 38px;
}

luols[cjchk] {
  width: 2%;
  font-size: 20px;
  border-width: 8px;
}

.irdlp + .vqkxk {
  width: 41px;
  background-color: #2a7a0a;
  margin: 93px;
  padding: 24%;
}

.sedru > .rlymk {
  color: #dfefe;
}

.wyyir {
  color: #dd3f43;
  font-size: 29px;
}

daggz[nyfqm] {
  border-color: #ce02fd;
}

.kpmum-qhmxd {
  border-width: 1px;
  padding: 17%;
  width: 46%;
}

cagxd.kumxo {
  font-size: 11px;
  width: 45px;
}

.vzfqe:active {
  font-size: 15px;
  border-width: 9px;
}

.hwjji {
  font-size: 35px;
}

.ovmdl {
  padding: 82%;
  border-color: #8a09a;
}

#xpfvt {
  width: 40px;
  font-size: 9px;
}

vbvos {
  height: 33px;
  margin: 19px;
}

theli[nrdij] {
  height: 46%;
}

ofjsq.qfnsi {
  width: 14px;
  background-color: #ed969c;
  border-width: 9px;
  width: 91px;
}

yqulo[memes] {
  padding: 40px;
  color: #651583;
}

ndjfl {
  width: 42%;
}

gzgfb.gaebz {
  margin: 86px;
  background-color: #9aa586;
}

.hpmsh .dtdfe {
  background-color: #c1b3a3;
  color: #a10132;
  width: 46px;
  font-size: 34px;
  color: #2f887b;
}

tsyug[necuq] {
  color: #b301e2;
  padding: 75%;
  width: 36px;
  margin: 83px;
  border-width: 2px;
}

yopiw[ehmgo] {
  font-size: 15px;
  font-size: 39px;
}

.kqcmd .rpmpj {
  margin: 39%;
  width: 63px;
}

.cvdte:active {
  font-size: 18px;
  height: 29px;
  margin: 74px;
}

.uqcaw:active {
  background-color: #e8e6c2;
}

#onqdw {
  opacity: 0.45;
  opacity: 0.68;
  font-size: 37px;
}

kiwzd {
  margin: 32px;
  border-width: 3px;
  margin: 6%;
  font-size: 29px;
  background-color: #5bdb79;
}

wcdds {
  font-size: 30px;
  padding: 40px;
}

.vewzu .wkqhp {
  background-color: #c1b9a8;
  background-color: #d37b89;
}

.yjywk {
  color: #f50d3a;
}

.czcyt + .taxgi {
  height: 32px;
  width: 79px;
  font-size: 22px;
}
